
/*
    Made by Nico Nap
    GitHub: https://github.com/niconap
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2F0601;
}

.calculator {
    position: relative;
    display: grid;
    box-shadow: 0px 0px 40px 0px black;
}

#value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #32908F;
    place-items: center;
    border: 1px solid rgba(0,0,0,0.1);
}

.calculator span:active {
    background: #A3E7FC;
    color: #111;
}

#clear {
    grid-column: span 2;
    width: 120px;
    background: #553A41;
}

#add {
    grid-row: span 2;
    height: 120px;
}

#equals {
    background-color: #26C485;
}

#equals:active {
    background: #A3E7FC;
    color: #111;
}

#zero {
    grid-column: span 2;
    width: 120px;
}

#paragraph {
    grid-column: span 4;
    width: 240px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
